{% extends 'base.html' %}
{% block title_block %} Profile {% endblock %}
{% block body %}
{% load static %}

<h2>Your Profile</h2>

{% if user.user_profile %}
<img class="rounded-circle" src='/media/{{user.user_profile.profile_pic}}' alt="profile_pic" width="100px" height="100px"><br><br>
<a href="{% url 'App_Login:change-pro-pic' %}" class="btn btn-info btn-sm">Change Profile Image</a>

{% else %}

<img class="rounded-circle" src='/media/profile_pics/male-avatar.jpg' alt="profile_pic" width="100px">
<br><br>
<a href="{% url 'App_Login:add-profile-pic' %}" class="btn btn-info btn-sm">Add Profile Pic</a>

{% endif %}
<br><br>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
<br>
<a href="{% url 'App_Login:user_change' %}" class="btn btn-warning btn-sm">Change Profile Information</a>





{% endblock %}